// set custom hex colors
$siteBgColorCustom: #f3f3f3;
$sidebarBgColorCustom: #ffc600;
$textColorCustom: #666260;
$sidebarTextColorCustom: #07294d;
$headlineColorCustom: #07294d;
$headingColorCustom: #07294d;
$bodyLinkColorCustom: #07294d;
$navLinkColorCustom: #07294d;
$sidebarLinkColorCustom: #07294d;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #07294d;
$borderColorCustom: #07294d;
